name: Deploy the backend
on:
    push:
        branches: [main]
    jobs:
        build:
            runs-on: ubuntu-latest
            steps:
                - name: Checkout the code
                  users: actions/checkout@v2

                - name: Docker login
                