version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecret
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  user_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user_app
    environment:
      DATABASE_URL: postgresql://postgres:mysecret@postgres:5432/postgres
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  pgdata:
