services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: .
    container_name: backend_app
    depends_on:
      - mongodb
    environment:
      MONGODB_URL: mongodb://mongodb:27017/backend-app-again
    ports:
      - "3000:3000"

volumes:
  mongodb_data:
